<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Validation</title>
</head>
<body>
  <form method="POST">
    {% csrf_token %}
    Name:
    <input type="text" id="name" name="name" value="{{name}}">
    <span class="error">{{name_error}}</span>
    <br><br>
    Email:
    <input type="email" id="email" name="email" value="{{email}}">
    <span class="error">{{email_error}}</span>
    <br><br>
    Password:
    <input type="password" id="password" name="password" value="{{password}}">
    <span class="error">{{password_error}}</span>
    <br><br>
    <button type="submit" value="Submit">Submit</button>
    <h1>Submitted Deatails:</h1>
    <h4>Name: {{name}}</h4>
    <h4>Email: {{email}}</h4>
    <h4>Password: {{password}}</h4>
    {% endif %}
  </form>
</body>
</html>